version: "3.8"

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: "testdb"
    volumes:
      # 绑定到 ubt101 的宿主目录（会使用约束保证运行在 ubt101）
      - /opt/mysql-data:/var/lib/mysql
      - /home/zhao/resources/search-system/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == ubt100
      restart_policy:
        condition: on-failure
    networks:
      - backend

  go-app:
    image: 192.168.12.101:8081/backend/search-system:v1.0.0
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
    networks:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - /home/zhao/resources/search-system/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - my-go-app
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == ubt100
    networks:
      - backend

networks:
  backend:
    driver: overlay